<template name="encounters_view">
    <h1>{{name}}</h1>
    <div class="row">
        <div class="col-sm-3"><b>Description</b></div>
        <div class="col-sm-9">{{description}}</div>
    </div>
    <div class="row">
        <div class="col-sm-3"><b>Dungeon Master</b></div>
        <div class="col-sm-9">{{dmEmail}}</div>
    </div>
    <div class="row">
        <div class="col-sm-3"><b>Players</b></div>
        <div class="col-sm-9">
            <ul>
                {{#each playerEmails}}
                    <li>
                        {{email}}
                        <span class="btn btn-danger remove-player">X</span>
                    </li>
                {{/each}}
            </ul>
            {{#if userIsCreatorOrDm}}
                <div class="form-inline">
                    <div class="control-group">
                        <select id="new-player" class="form-control">
                            {{#each potentialPlayers}}
                                <option value="{{_id}}">{{email}}</option>
                            {{/each}}
                        </select>
                        <input type="button" class="btn btn-default btn-sm add-player" value="Add Player">
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"><b>Characters</b></div>
        <div class="col-sm-9">

        </div>
    </div>
</template>